$color-black: #212121;
$color-gray: #ccc;
$color-hover: #eee;

$border-radius: 25px;
$padding: 15px;
$transition: all .5s ease-out;

$data-cell-width: 200px;
$info-cell-width: 50px;
$cell-height: 20px;
$db-header-height: 50px;
